<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Analytics Content Experiment code -->
      <script>function utmx_section(){}function utmx(){}(function(){var
      k='141851620-1',d=document,l=d.location,c=d.cookie;
      if(l.search.indexOf('utm_expid='+k)>0)return;
      function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
      indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
      length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
      '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
      '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
      '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
      valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
      '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
      </script><script>utmx('url','A/B');</script>
      <!-- End of Google Analytics Content Experiment code -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Chatiee</title>
    <!-- <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"> -->
    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bahiana|Lobster|Pacifico|Barrio" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <!-- <link href="./css/chatty.css" rel="stylesheet"> -->
    {{#if showAlt}}
    <link href="./css/chatty.css" rel="stylesheet">
    <link href="./css/chatty-test.css" rel="stylesheet">
    {{else}}
    <link href="./css/chatty.css" rel="stylesheet">
    {{/if}}
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <div id="savedLoginInfo" style="display: none;">{{#if isAuthen}}{{user}}{{/if}}</div>

  <body class="bg-custom">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header navbar-custom">
          <a class="navbar-brand-custom navbar-brand " href="#">Chatiee</a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav navbar-nav-custom">
            <li class="active"><a href="#"><img src="./img/navbar-icon/home-white-small.png" /></a></li>
            <li><a href="./category"><img src="./img/navbar-icon/search-small.png" /></a></li>
            <li><a href="./favorites"><img src="./img/navbar-icon/star-white-small.png" /></a></li>
            <li><a href="./account"><img src="./img/navbar-icon/profile-white-small.png" /></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- <div class = "container">
      <div class = "emptyspace">
      </div>
    </div> -->
    <div class="container container-custom">


      <!-- test for handlebars -->
      {{#each programs}}
      <div class = "chatty-template">
        <a class="link" href="./room/{{program-name}}">
        <div class="row row-test">
          <div class = "col-xs-6 program-img-box">
            <img class="program-img" src="{{imgURL}}" />
          </div>
          <div class = "description col-xs-6">
            <div class = "row channel-name">
              <p>{{channel-name}}</p><span> - </span>
            </div>
            <div class = "row program-name">
              <p>{{program-name}}</p>
            </div>
            <div class="time">
              <div class = "row program-time">
                <p>{{program-time}}</p>
              </div>
              <div class = "row program-viewer">
                <p>Live Viewers: </p> <span id="viewerNum">{{viewerNum}}</span>
              </div>
            </div>
              {{#if showAlt}}
              {{else}}
              <div class="collect" id = "{{program-name}}">
                <a href = '#'>
                  {{#if isAuthen}}
                  <img id="collect" src="./img/star_gold_small.png"/>
                  {{else}}
                  <img id="collect" src="./img/star_grey_small.png"/>
                  {{/if}}
                </a>
              </div>
              {{/if}}
          </div>
        </div>
        {{#if showAlt}}
        <div class="collect" id = "{{program-name}}">
          <a href = '#'>
            {{#if isAuthen}}
            <img id="collect" src="./img/star_gold_small.png"/>
            {{else}}
            <img id="collect" src="./img/star_grey_small.png"/>
            {{/if}}
          </a>
        </div>
        {{else}}
        {{/if}}
        </a>
      </div>
      {{/each}}

    </div><!-- /.container -->

    <div class = "popUp" id="loginPopUp">
      <div class = "popText">
      Please login.
      </div>

      <form id="loginForm" role="form" method="post" action="/account/login/user">
        <div class="login-box">
          <div class="username-box">
            <input type="text" class="username" placeholder="Username" name = "username"/>
          </div>
          <div class="password-box">
            <input type="password" class="password" placeholder="Password" name = "password"/>
          </div>
        </div>
        <div class = "login index-button">
          <input type = "submit" id = "loginBtn" value = "Login" class = "loginBtn">
        </input>
      </div>
    </form>
  <form action="/account/register">
  <div class = "login index-button">
  <button class = "registerBtn ">
    Register
  </button>
  </div>
  </form>
  <div class = "login index-button">
  <button class = "backBtn ">
    Back
  </button>
  </div>
  </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="./vendor/jquery.min.js"><\/script>')</script>
    <!-- Include jQuery Popup Overlay -->
    <!-- <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script> -->
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src = "/js/index.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92990014-1', 'auto');
    ga('send', 'pageview');

  </script>
  </body>
</html>
